@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900&display=swap');

/* Base color */
/* #13204f footer color */
/* #1e387c  big text color*/
/* #5cddff stroke and line   */
/* #1d3779 */
/*  #FFB07E #ff55b1*/
/* #0d1336 #264a9d */

:root {
    --line-color: #5cddff;
    --color-big-text: #1e387c;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    background: linear-gradient(to top right, #264a9d, #0d1336);
    line-height: 2;
    overflow-x: hidden;
}

/* Navigation */
nav.header-nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background: linear-gradient(to left, #0d1336, #264a9d);
    color: #fff;
    padding: 0 10rem;
    position: fixed;
    z-index: 20;
    width: 100%;
}

div.header-logo img {
    width: 15rem;
}

.nav-menu {
    font-size: 1.4rem;
    border-bottom: 2px solid #5cddff;
}

div.btn nav-btn {
    display: flex;
    justify-content: flex-end;
}

/* Header Hero */
nav.header-nav-main button {
    outline: 0;
    border: none;
    padding: 2rem 3rem .5rem 3rem;
    border-radius: 0 0 .5rem .5rem;
    background: linear-gradient(to right, #FFB07E, #ff55b1);
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 2.3rem;
}

header.header-main {
    height: 90vh;
    background: linear-gradient(to top right, #264a9d, #0d1336);
    background-size: cover;
    background-repeat: no-repeat;

}

div.header-hero-content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 9rem 9rem;
}


.header-hero-text {
    align-self: flex-start;
    width: 45%;
}

.header-hero-text h1,
h2 {
    color: #fff;
    text-transform: capitalize;
    line-height: 1.5;
}

.header-hero-text h1 {
    font-size: 4.5rem;
}

.header-hero-text h2 {
    font-weight: 400;
    font-size: 4.4rem;
}

.header-hero-text h2 span img {
    margin-left: -.6rem;
    width: 1.4rem;
}

.header-hero-text h3 {
    font-size: 1.4rem;
    color: #5cddff;
    font-weight: 400;
    margin-bottom: 1rem;
}


.header-hero-text button {
    border: 0;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 2.2rem;
    border: 1px solid var(--line-color);
    border-radius: 12rem;
    background: none;
    cursor: pointer;
}


div.header-hero-img img {
    min-width: auto;
    width: 100%;
    /* z-index: 1; */

}

div.header-hero-img {
    position: relative;
    width: 40%;
}

div.header-hero-img img.dots {
    width: 20%;
    position: absolute;
    top: 3.6rem;
    left: -4rem;
    /* z-index: 2; */
}


/* First Section */
section.workflow {
    height: 70rem;
    overflow-x: hidden;
}

div.background-text--gradient h1 {
    font-size: 21.2rem;
    text-transform: uppercase;
    color: var(--color-big-text);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: -10rem;
    overflow-x: hidden;
}

div.workflow-content {
    display: flex;
    justify-content: center;
    margin-top: -18rem;
}

div.background-gradient {
    width: 60rem;
    height: 35rem;
    background: linear-gradient(to right, #264a9d, #0d1336);
    position: relative;

}

div.workflow-img1 {
    position: absolute;
    top: 15rem;
    left: -12rem;
    width: 17rem;
}

div.workflow-img2 {
    position: absolute;
    top: 10rem;
    right: 42rem;
}

div.workflow-img2 img {
    width: 25rem;
}

div.workflow-txt {
    color: #fff;
    line-height: 1.5;
    position: absolute;
    top: 8rem;
    left: 22.4rem;
    width: 100%;
}

div.workflow-txt h1 {
    font-size: 4rem;
    font-weight: 800;
}

div.workflow-txt h2 {
    font-size: 3.6rem;
    font-weight: 400;
}

div.workflow-txt h2 span img {
    width: .8rem;
    margin-left: -.8rem;
}

div.workflow-txt p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--line-color);
    width: 60%;
    margin: 0 0 0 2rem;
}















/* Media Queries */

@media screen and (max-width: 768px) {
    nav.header-nav-main {
        padding: 0 3rem;
    }

    div.header-hero-content {
        padding: 7rem 3rem;
    }


    .header-hero-text {
        margin-right: 4rem;
    }

    .header-hero-text button {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    div.workflow-content {
        margin-top: -10rem;
    }

    div.background-gradient {
        width: 40rem;
        height: 25rem;
    }

    div.workflow-img1 {
        top: 0;
        left: 12rem;
    }

    div.workflow-img2 {
        top: -16rem;
        left: 15rem;
    }


    div.workflow-txt {
        top: 20rem;
        left: 9rem;
    }

    div.workflow-txt h1 {
        font-size: 3rem;
    }

    div.workflow-txt h2 {
        font-size: 2.5rem;
    }

    div.workflow-txt h2 span img {
        margin-left: -.5rem;
    }

    div.workflow-txt p {
        font-size: 1.1rem;
    }

}


@media screen and (max-width: 538px) {
    div.header-hero-content {
        flex-direction: column;
    }

    .header-hero-text {
        margin-right: 0;
        width: 100%;
    }

    div.header-hero-img {
        width: 35rem;
        align-self: center;
        margin-top: 2rem;
    }

    header.header-main {
        height: 82rem
    }
}



@media screen and (max-width: 425px) {
    nav.header-nav-main {
        padding: 0 1rem;
    }

    div.header-logo img {
        width: 12rem;
    }

    .nav-menu {
        font-size: 1.2rem;
    }

    nav.header-nav-main button {
        padding: 3rem 1rem .5rem 1rem;
        font-size: 1rem;
    }

    div.header-hero-content {
        padding: 7rem 3rem;
    }

}

@media screen and (max-width: 375px) {

    div.workflow-img2 img {
        width: 22rem;
    }

    div.workflow-img1 {
        top: 0;
        left: 2rem;
    }

    div.workflow-img2 {
        top: -12rem;
        left: 8rem;
    }


    div.workflow-txt {
        top: 21rem;
        left: 3rem;
    }



}

@media screen and (max-width: 361px) {
    div.header-hero-content {
        padding: 6rem 1rem;
    }

    .header-hero-text h1 {
        font-size: 4rem;
    }

    div.header-hero-img {
        width: 32rem;
    }

}

@media screen and (max-width: 320px) {
    div.workflow-txt h1 {
        font-size: 2.5rem;
    }

    div.workflow-txt {
        top: 21rem;
        left: 1.4rem;
    }

}