@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #f7f7f7;
    background-color: #fff;
    line-height: 2;
    overflow-x: hidden;
}