@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900&display=swap');

/* Base color */
/* #13204f footer color */
/* #1e387c  big text color*/
/* #5cddff stroke and line   */
/* #1d3779 */
/*  #FFB07E #ff55b1*/
/* #0d1336 #264a9d */

:root {
    --line-color: #5cddff;
    --color-big-text: #1e387c;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*::selection {
    color: #ff55b1;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    background: linear-gradient(to top right, #264a9d, #0d1336);
    line-height: 2;
    color: #fff;
    overflow-x: hidden;
}

/* Navigation */
nav.header-nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background: linear-gradient(to left, #0d1336, #264a9d);
    color: #fff;
    padding: 0 10rem;
    position: fixed;
    z-index: 20;
    width: 100%;
}

div.header-logo img {
    width: 15rem;
}

.nav-menu {
    font-size: 1.4rem;
    border-bottom: 2px solid #5cddff;
}

div.btn nav-btn {
    display: flex;
    justify-content: flex-end;
}

/* Header Hero */
nav.header-nav-main button {
    outline: 0;
    border: none;
    padding: 2rem 3rem .5rem 3rem;
    border-radius: 0 0 .5rem .5rem;
    background: linear-gradient(to right, #FFB07E, #ff55b1);
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 2.3rem;
}

header.header-main {
    height: 90vh;
    background: linear-gradient(to top right, #264a9d, #0d1336);
    background-size: cover;
    background-repeat: no-repeat;

}

div.header-hero-content {
    display: flex;
    justify-content: space-between;
    padding: 9rem 9rem;
}


.header-hero-text {
    align-self: flex-start;
    width: 45%;
}

.header-hero-text h1,
h2 {
    color: #fff;
    text-transform: capitalize;
    line-height: 1.5;
}

.header-hero-text h1 {
    font-size: 4.5rem;
}

.header-hero-text h2 {
    font-weight: 400;
    font-size: 4.4rem;
}

.header-hero-text h2 span img {
    margin-left: -.6rem;
    width: 1.4rem;
}

.header-hero-text h3 {
    font-size: 1.4rem;
    color: #5cddff;
    font-weight: 400;
    margin-bottom: 1rem;
}


.header-hero-text button {
    border: 0;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 2.2rem;
    border: 1px solid var(--line-color);
    border-radius: 12rem;
    background: none;
    cursor: pointer;
}


div.header-hero-img img {
    min-width: auto;
    width: 100%;
    /* z-index: 1; */

}

div.header-hero-img {
    position: relative;
    width: 40%;
}

div.header-hero-img img.dots {
    width: 20%;
    position: absolute;
    top: 3.6rem;
    left: -4rem;
    /* z-index: 2; */
}


/* First Section */
section.workflow {
    padding-bottom: 12rem;
    overflow-x: hidden;
}

div.background-text--gradient h1 {
    font-size: 21.2rem;
    text-transform: uppercase;
    color: var(--color-big-text);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: -10rem;
    overflow-x: hidden;
}

div.workflow-content {
    display: flex;
    justify-content: center;
    margin-top: -18rem;
}

div.background-gradient {
    width: 60rem;
    height: 35rem;
    background: linear-gradient(to right, #264a9d, #0d1336);
    position: relative;

}

div.workflow-img1 {
    position: absolute;
    top: 15rem;
    left: -12rem;
    width: 17rem;
}

div.workflow-img2 {
    position: absolute;
    top: 10rem;
    right: 42rem;
}

div.workflow-img2 img {
    width: 25rem;
}

div.workflow-txt {
    color: #fff;
    line-height: 1.5;
    position: absolute;
    top: 8rem;
    left: 22.4rem;
    width: 100%;
}

div.workflow-txt h1 {
    font-size: 4rem;
    font-weight: 800;
}

div.workflow-txt h2 {
    font-size: 3.6rem;
    font-weight: 400;
}

div.workflow-txt h2 span img {
    width: .8rem;
    margin-left: -.8rem;
}

div.workflow-txt p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--line-color);
    width: 60%;
    margin: 0 0 0 2rem;
}

/* Applications */

section#key-app {
    position: relative;

}

div.key-app-heading {
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
    background: linear-gradient(to right, #264a9d, #0d1336);

}

div.key-app-heading span {
    font-weight: 400;

}

div.key-app-heading span img {
    margin-left: 1rem;
    width: 1rem;
}


div.key-app-content {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    justify-items: center;
    max-width: 53%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5rem 22rem 8rem 22rem;

}

.app-img h2 {
    text-transform: uppercase;
    font-size: 3rem;
}

.app-img {
    position: relative;
}

.app-img img {
    opacity: 0.6;

}

.app-img h2 {
    position: absolute;
    top: 16.7rem;
    left: 2rem;
}


div.app-img4 {
    margin-top: -1.3rem;

}

div.app-img5 {
    margin-top: -1.3rem;
}

div.app-img6 {
    margin-top: -1.3rem;
    visibility: hidden;
}

div.about-dot-img {
    width: 18rem;
    position: absolute;
    top: 62rem;
    left: 100rem;
}


/* About Section */

section#about-section {
    width: 100%;
    background: linear-gradient(to right, #264a9d, #0d1336);
    /* position: relative; */
    color: #fff;
    overflow-x: hidden;
    height: 100%;
}



div.about-main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 14rem 26rem;
}

div.about-main h1,
h2 {
    color: #fff;
    font-size: 4.6rem;
    font-weight: 800;
    line-height: 1.5;
}


div#about-main-text {
    margin-left: -18rem;
}


div#about-main-text h2 {
    font-weight: 400;
}

div#about-main-text h2 span {
    margin-left: -.7rem;
}

div#about-main-text p {
    font-size: 1.5rem;
    color: var(--line-color);
    font-weight: 400;
    margin-left: 2rem;
    line-height: 1.5;
}

div.contol-bkg {
    width: 11rem;
    height: 21rem;
    background-color: #13204f;
    position: relative;
    margin-left: -8rem;
}


div.about-control {
    align-self: flex-end;
}


div.about-control ul,
li:first-of-type {
    color: #fff;
}

div.about-control ul {
    list-style-type: none;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--line-color);
    line-height: 3.3;
    position: absolute;
    top: -3.5rem;
    left: 2rem;


}


div.about-chart {
    align-self: flex-end;
    margin-right: -18rem;
    margin-bottom: -12rem;
}

div.about-chart img {
    width: 21rem
}


/* Price Section */

section.pricing-plan {
    padding: 4rem 12rem;
    background: linear-gradient(to right top, #264a9d, #0d1336);

}

div.pricing-plan-heading {
    line-height: 1.2;
    letter-spacing: 2px;
}

section.pricing-plan h1 {
    font-weight: 800;
    font-size: 4.3rem;
}

section.pricing-plan h2 {
    font-weight: 400;
    font-size: 4.5rem;
}

section.pricing-plan h2 img {
    margin-left: -1.2rem;
    width: 1rem;
}

section.pricing-plan p {
    font-size: 1.5rem;
    color: var(--line-color);
    font-weight: 400;
    margin-left: 1.5rem;
    line-height: 1.5;
}

div.price-card-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card {
    background: #13204f;
    width: 32rem;
    height: 100%;
    margin-top: 2rem
}


div.border {
    border: 1px solid var(--line-color);
    padding-bottom: 1rem;
}


div.company-card--bottom,
div.starter-card--bottom,
div.large-card--bottom {
    border-top: none;
}

div.company-card--top:hover,
div.starter-card--top:hover,
div.advanced-card--top:hover {
    background: linear-gradient(to right, #FFB07E, #ff55b1);
}


div.card ul {
    list-style: none;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.6rem;
    line-height: 3;
    padding: 2rem;
}

.card h3 {
    font-weight: 400;
    font-size: 3.8rem;
}

.card h3:first-of-type {
    font-size: 3rem;
}

.card h3:first-of-type img {
    width: 1rem;
    margin-left: -0.5rem;
}

img#adj {
    margin-left: 0.35rem;
}

.btn-card {
    outline: none;
    border: 1px solid var(--line-color);
    border-radius: 13rem;
    padding: 1.3rem 6rem;
    background-color: #1e387c;
    color: var(--line-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out .4s;
}


.btn-card:hover {
    transform: scale(1.1);
}


/* Contact */

section.form {
    display: flex;
    justify-content: space-between;
    padding: 18rem 12rem;
}

label {
    color: #1e387c;
    font-size: 2rem;
    font-weight: 400;
}

form {
    background-color: #0d1336;
    padding: 2rem 5rem;
    height: 100%;
}

section.form input {
    padding: 1rem 26rem 1rem 0;
}

#company,
#email {
    margin-top: 1.2rem;
}

#company,
#email,
#name,
textarea {
    outline: none;
    background: none;
    display: block;
    width: 100%;
    border: 0;
    color: #1e387c;
    font-size: 2rem;
    font-weight: 400;
    border-bottom: 1px solid var(--line-color);

}

textarea {
    margin-bottom: 2rem;
}

input::placeholder {
    color: #1e387c;
    font-size: 2rem;
}

.contact-text h1 {
    font-size: 5rem;
    font-weight: 800;
    text-transform: capitalize;
}

.contact-text h1:nth-of-type(2) {
    font-weight: 400;
}

div.contact-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section.form a {
    color: var(--line-color);
    font-weight: 400;
    font-size: 1.6rem;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #13204f;
    height: 40rem;
    overflow: hidden;
}

.footer-left img {
    width: 15rem;
    display: block;
    margin-bottom: 2rem;
}

.footer-left {
    padding-left: 12rem;
    padding-top: 7rem;
    color: var(--line-color);
}

.footer-middle img {
    width: 10rem;
    font-weight: 400;
    margin-right: 4rem;
}

.footer-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -7rem;
}

div.partners-logo {
    display: flex;
}

.footer-middle h1 {
    font-weight: 400;
    margin-bottom: 3rem;
}

.footer-middle h1 img {
    width: 1rem;
    margin-left: -.7rem;
}


.footer-right img {
    width: 30rem;
    display: block;
    align-self: flex-end;
    margin-bottom: -8rem;
}

.footer-right {
    align-self: flex-end;
}

small {
    font-weight: 400;
}




/* Media Queries */

@media screen and (max-width: 1024px) {
    div.app-img4 {
        margin-top: 0;
    }

    div.about-chart img {
        width: 16rem
    }

    div#about-main-text p {
        font-size: 1.4rem;
    }

    div#about-main-text {
        margin-left: -22rem;
    }

    div.contol-bkg {
        margin-left: 0;
    }

    div.about-main {
        padding: 4rem 26rem;
    }

    .footer-left {
        padding-left: 8rem;
    }

    .footer-middle {
        margin-right: -8rem;
    }

}

@media screen and (max-width: 768px) {
    nav.header-nav-main {
        padding: 0 3rem;
    }

    div.header-hero-content {
        padding: 7rem 3rem;
    }


    .header-hero-text {
        margin-right: 4rem;
    }

    .header-hero-text button {
        font-size: 1rem;
    }

    div.app-img5 {
        margin-top: 0;
    }

    div.key-app-content {
        padding: 5rem 10rem;

    }

    div.price-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-right img {
        width: 20rem;
    }

    .footer-middle {
        margin-right: -3rem;
    }

    .footer-left {
        padding-left: 4rem;
    }
}

@media screen and (max-width: 600px) {
    div.workflow-content {
        margin-top: -10rem;
    }

    div.background-gradient {
        width: 40rem;
        height: 25rem;
    }

    div.workflow-img1 {
        top: 0;
        left: 12rem;
    }

    div.workflow-img2 {
        top: -16rem;
        left: 15rem;
    }


    div.workflow-txt {
        top: 20rem;
        left: 7rem;
    }

    div.workflow-txt h1 {
        font-size: 3rem;
    }

    div.workflow-txt h2 {
        font-size: 2.5rem;
    }

    div.workflow-txt h2 span img {
        margin-left: -.5rem;
    }

    div.workflow-txt p {
        font-size: 1.1rem;
    }

    div.app-img6 {
        display: none;
    }
}



@media screen and (max-width: 538px) {
    div.header-hero-content {
        flex-direction: column;
    }

    .header-hero-text {
        margin-right: 0;
        width: 100%;
    }

    div.header-hero-img {
        width: 35rem;
        align-self: center;
        margin-top: 2rem;
    }

    header.header-main {
        height: 82rem
    }
}



@media screen and (max-width: 425px) {
    nav.header-nav-main {
        padding: 0 1rem;
    }

    div.header-logo img {
        width: 12rem;
    }

    .nav-menu {
        font-size: 1.2rem;
    }

    nav.header-nav-main button {
        padding: 3rem 1rem .5rem 1rem;
        font-size: 1rem;
    }

    div.header-hero-content {
        padding: 7rem 3rem;
    }

    div.key-app-content {
        padding: 4rem 4rem;

    }

    div.about-chart {
        display: none;
    }

    div.about-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        padding: 4rem 26rem;
    }

    div#about-main-text h2 span:first-of-type img {
        width: 1rem;
        margin-left: 0;
    }

    div.about-main h1,
    h2 {
        font-size: 3rem;

    }

    div#about-main-text p {
        font-size: 1.5rem;
    }

    div.about-control {
        margin-top: 5rem;
    }

    section.pricing-plan {
        padding: 2rem 4rem;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer-left {
        padding-left: 0;
        padding-top: 2rem;

    }

    .footer-right img {
        width: 15rem;
    }
    .footer-middle h1 {
        margin-bottom: 1rem;
    }

    .footer-left img {
        width: 15rem;
        display: block;
        margin-bottom: 2rem;
    }

    .footer-left {
        padding-bottom: 4rem;
    }
}



@media screen and (max-width: 375px) {

    div.workflow-img2 img {
        width: 22rem;
    }

    div.workflow-img1 {
        top: 0;
        left: 2rem;
    }

    div.workflow-img2 {
        top: -12rem;
        left: 8rem;
    }

    div.workflow-txt {
        top: 21rem;
        left: 3rem;
    }

    section.pricing-plan {
        padding: 2rem 2rem;
    }
.footer-left img {
    width: 18rem;
    margin-bottom: 0;
}
}



@media screen and (max-width: 361px) {
    div.header-hero-content {
        padding: 6rem 1rem;
    }

    .header-hero-text h1 {
        font-size: 4rem;
    }

    div.header-hero-img {
        width: 32rem;
    }

}

@media screen and (max-width: 320px) {
    div.workflow-txt h1 {
        font-size: 2.5rem;
    }

    div.workflow-txt {
        top: 21rem;
        left: 1.4rem;
    }

    .card {
        width: 29rem;
    }

    section.pricing-plan {
        padding: 1rem 1rem;
    }

    div.pricing-plan-heading {
        line-height: 1.41;
        letter-spacing: 0;
    }
    footer {
        padding: 3rem 3rem;
    }

    .footer-middle h1 {
        margin-bottom: 0;
        font-size: 3.6rem;
    }
}